<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmonster.tkclient.integration.okhttp">

    <application>
        <meta-data
            android:name="com.xmonster.tkclient.integration.okhttp.OkHttpTKClientModule"
            android:value="TKClientModule" />
    </application>
</manifest>